html, body {
	margin: 0;
	background-color: #999999;
	font-family: 'Roboto', sans-serif;
}

#header {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	/* z-index: 1; */
	background: #434343;
	border-bottom: 3px solid #ffb2c5;
}

#header > div {
	padding: 10px;
	margin: 0 auto;
}

.page-logo {
	display: inline-block;
	vertical-align: middle;
	border-radius: 35px;
	background: #212121;
}

.page-logo img, .page-logo a {
	display: inline-block;
	vertical-align: middle;
}

.page-logo img {
	height: 70px;
	margin: 10px;
	border-radius: 100%;
	border: 3px solid #ffb2c5;
}

.page-logo a {
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	font-size: 36px;
	height: 48px;
	width: 0;
	text-decoration: none;
	color: #ffb2c5;
}

.page-logo:hover > a{
	width: 163.39px;
	margin-right: 25px;
	opacity: 1;
	transition: all 0.4s ease-in;
}

.page-logo img + a {
	width: 0;
	margin-right: 0;
	opacity: 0;
	transition: all 0.4s ease-out;
}

.page-nav {
	display: inline-block;
	vertical-align: middle;
	/* width: calc(100% - 280px); */
	padding: 0;
	margin: 0 0 0 10px;
	list-style: none;
}

.page-nav li {
	margin: 0 15px 0 0;
	text-align: center;
	display: inline-block;
}

.page-nav li a {
	border: 2px solid white;
	border-radius: 15px;
	padding: 7px 5px;
	display: inline-block;
	background: white;
	color: #999;
	font-size: 20px;
	font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
	text-decoration: none;

	box-shadow: 3px 3px 2px #aaa;
}

#main {
	margin-left: 10px;
}

#main p {
	width: fit-content;
	padding: 10px;
	border: 3px solid white;
	border-radius: 0 20px 0 20px;
	background: #0008;
	color: white;
}